extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Database
  h3 host: #{db.host}
  h3 port: #{db.port}
  h3 database: #{db.database}
  h3 user: #{db.user}
  h3 password: #{db.password}
